/* $Id$ */

.at-term-list {
  padding: 5px 0;
}

.at-term {
  background-color:#eee;
  padding:2px;
  display:inline;
  margin:2px;
}

.at-term-remove {
  color:red;
  padding-left:5px;
  cursor:pointer;
}

.tag-popular {
  background-color:#eee;
  color:#999;
  padding:2px;
  display:inline;
  margin:2px;
}
.add-tag-popular {
  color:green;
  padding-left:5px;
  cursor:pointer;
}